/* удобства */
:root {
	/* Fonts */
	--font-family-main: "Manrope", sans-serif; 
	--font-family-heading: "Lora", serif;
	/* --font-size-main: 14px;
	--line-height: 1.4; */

	/* адаптации */
  --media-desktop: 1440px;
	--media-tablet: 720px;
	--media-mobile: 390px; 

	/* COLOR */
	--color-white: #ffffff;
	--color-black:#000000;
	--color-white-accent: #f5f5f5;
	--color-dark: #2c2b2b;
	--color-grey: #727272;
	--color-olive: #60604c;
	--color-olive-light: #878774;
	--color-table:#d1cab6;;
}